flask>=2.2
flask-cors>=3.0
flask-socketio>=5.3
gevent>=22.10.2
gevent-websocket>=0.10.1
requests>=2.31.0
openai>=1.30.0
jieba>=0.42.1
spacy>=3.7.4
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl
